.formularioRegistro{
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 10%;
}
.formularioMostrar{
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 10%;
    padding-bottom: 300px;
}